set hlsearch
set ignorecase
set smartcase
set incsearch
set showmode
set wrapscan
set scrolloff=3
set history=100000

let mapleader = " "

" Redo
nnoremap U <C-r>

" Yank to the end of line
nnoremap Y y$

" clear the highlighted search result
nnoremap <Leader>sc :nohlsearch<CR>

" Window operation
nnoremap <Leader>ww <C-W>w
nnoremap <Leader>wd <C-W>c
nnoremap <Leader>ws <C-W>s
nnoremap <Leader>w- <C-W>s
nnoremap <Leader>wv <C-W>v
nnoremap <Leader>wm :action UnsplitAll<CR>

nnoremap <Leader>pf :action GotoFile<CR>
nnoremap <Leader>fr :action RecentFiles<CR>
nnoremap <Leader>ff :action ShowIntentionActions<CR>
nnoremap <Leader>rb :action Tool_External Tools  _black<CR>
nnoremap <Leader>vi :action Tool_External Tools_view_ir<CR>

nnoremap <Leader>ss :action SearchEverywhere<CR>
nnoremap <Leader>/ :action FindInPath<CR>
vnoremap <Leader>/ :action FindInPath<CR>

nnoremap <Leader>cl :action CommentByLineComment<CR>
vnoremap <Leader>cl :action CommentByLineComment<CR>

nnoremap <Leader>bb :action ToggleLineBreakpoint<CR>
nnoremap <Leader>be :action EditBreakpoint<CR>
nnoremap <Leader>br :action ViewBreakpoints<CR>

nnoremap <Leader>en :action GotoNextError<CR>:action ShowErrorDescription<CR>
nnoremap <Leader>ep :action GotoPreviousError<CR>:action ShowErrorDescription<CR>

nnoremap <Leader>fed :e ~/.ideavimrc<CR>
nnoremap <Leader>feR :source ~/.ideavimrc<CR>

nnoremap <Leader>ga :action GotoAction<CR>
nnoremap <Leader>gc :action GotoClass<CR>
nnoremap <Leader>gg :action GotoDeclaration<CR>
nnoremap <Leader>gs :action GotoSymbol<CR>
nnoremap <Leader>gt :action GotoTest<CR>
nnoremap <Leader>go :action GotoRelated<CR>
nnoremap <Leader>gb :action Back<CR>
nnoremap <Leader>gf :action Forward<CR>
nnoremap <Leader>gn :action ViewNavigationBar<CR>

nnoremap <Leader>re :action RenameElement<CR>
vnoremap <Leader>re :action RenameElement<CR>
nnoremap <Leader>rF :action RenameFile<CR>
nnoremap <Leader>rv :action IntroduceVariable<CR>
vnoremap <Leader>rv :action IntroduceVariable<CR>
nnoremap <Leader>rc :action IntroduceConstant<CR>
vnoremap <Leader>rc :action IntroduceConstant<CR>
nnoremap <Leader>rf :action IntroduceField<CR>
vnoremap <Leader>rf :action IntroduceField<CR>
nnoremap <Leader>rp :action IntroduceParameter<CR>
vnoremap <Leader>rp :action IntroduceParameter<CR>
nnoremap <Leader>rm :action ExtractMethod<CR>
vnoremap <Leader>rm :action ExtractMethod<CR>
nnoremap <Leader>ri :action Inline<CR>
nnoremap <Leader>ro :action OptimizeImports<CR>

nnoremap <Leader>cc :action CallHierarchy<CR>
nnoremap <Leader>ds :action QuickJavaDoc<CR>

nnoremap <Leader>un :action GotoNextElementUnderCaretUsage<CR>
nnoremap <Leader>up :action GotoPrevElementUnderCaretUsage<CR>
nnoremap <Leader>us :action ShowUsages<CR>

nnoremap <Leader>tw :action EditorToggleShowWhitespaces<CR>

nnoremap <Leader>vb :action Annotate<CR>
